<!DOCTYPE html>
<html>
<head>
	<title>COMPONENT PRACTICE</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js"></script>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<main>
	<div id="app">

		<router-link v-if="authenticated" to="/login" v-on:click.native="logout()">Log Out</router-link>
		<!-- the router view element is where the components get rendered when changing the address bar (the route) -->
	
		<transition name="fade" mode="out-in">
			<router-view @authenticated="setAuthenticated">
		</transition>

	</div>
</main>


<!-- TEMPLATES -->
<template id="userList">
	<div>
		<h3>Current User:
			<span v-if="users.length > 0">
				{{ users[0].first_name }}  {{ users[0].last_name }}
			</span>
		</h3>
	</div>
</template>

<script type='module' src="js/main.js"></script>
</body>
</html>